<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Somebody gave you dick penalty!</h1>
		<p>
			Check here ho gave it to you
			<%= link_to message_url(@message.id, :host => SITE), message_url(@message.id, :host => SITE) %>
		</p>
	</body>
</html>